<div id='test'></div>

<% @workout_sets.each do |set| %>
  <%= simple_form_for(set, html: {class: 'form-inline' }, :remote => true) do |form| %>
    <%= form.button :submit, set.to_s %>
  <% end %>
  </br>
<% end %>